<?xml version='1.0' encoding='utf-8'?>
<RunSettings>
  <!-- Parameters used by tests at runtime -->
  <TestRunParameters>
    <!-- TestSuiteConfigurationPath should point to the directory containing the TestSuiteConfigurationFileName -->
    <Parameter name ="TestSuiteConfigurationPath" value="D:\sb\github\activemq-nms-amqp\test\bin\Debug\net452" />
    <!-- Default value for TestSuiteConfigurationFileName is TestSuite.config -->
    <Parameter name ="TestSuiteConfigurationFileName" value="TestSuite.config" />
  </TestRunParameters>
</RunSettings>
