<Configuration>
  <Global LogLevel="warn" FrameTrace="false">
    
    <!-- DataConfig configures limits on Test Data -->
    <!-- 
         GenerateChunkSize sets the max structured data capacity 
         for Message Tests. Eg, Map size, List size, array size, etc.
         Supported values are [65535-2147483647]. Any value outside
         will result in undefined behaviour for the test suite.
         The Default value is 524288 (512KiB).
    -->
    <!--
    <DataConfig GenerateChunkSize="65535" />
    -->
  </Global>
  <!-- Example Secure Broker configuration
    For more hints on configuring a secure broker and sample certificates
    see test/config/cert/ReadMe.md
    -->
  <Broker Scheme="amqps://" IPAddress="127.0.0.1" Port="5671" Name="NMS Test">
    <!-- Example Client Configuration -->
    <Client
        Username="guest"
        Password="password"
        AcceptInvalidServerCert="false"
        ClientCertFileName="config/cert/client.crt"
    />  <!-- End of Client -->
  </Broker>

  
  <!-- Example Broker configuration foe plain-text connections
    -->
  <!--
  <Broker Scheme="amqp://" IPAddress="127.0.0.1" Port="5672">
    <Client Username="guest" Password="password" />
  </Broker>
  -->
  
</Configuration>
